*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

body, html {
  width: 100%;
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap:54px;
  padding: 50px 21px 18px 21px;
  background-color: #FFFFFF;
  width: 100%; 
  max-width: 100vw; 
}